.sidemenu{
    width: 100%;
    margin-top: 28%;

}
.sideHead{
    background-color: #F0BC00;
    color: white;
    border: 1px solid gray
}
.sidebtn{
    background-color: #00703c;
    color: white;
    border: 1px solid gray;
}
.header{
    text-align: center;
}
.browseHeader{
    color:black;
}

