.title{
    text-align: center;
    color: white;
}
.category{
    
    text-align: center;
}

.price{
    text-align: center;
}
.card{
    margin-top: 1%;
}

.creator, .cat, .desc, .est{
    color: white;
}
