.signincard {
    width: 50%;
    
    margin: auto;
    margin-top: 3%; 
    }

#Login{
    text-align: center;
    font-size: 28px;
}

#SignUpText{
    text-align: center;
    font-size: 14px;
}
#RememberMe{
    text-align: center;
    font-size: 14px;
}
#LoginButton{
    text-align: center;
    font-size: 14px;
}
#forgotPassword{
    text-align: center;
    font-size: 14px;
}