.signincard {
    width: 50%;
    
    margin: auto;
    margin-top: 3%; 
    }

<<<<<<< HEAD

=======
#Login{
    text-align: center;
    font-size: 28px;
}
>>>>>>> 92b290b6008def4db14d2ae2dfe25af7d580a232

#SignUpText{
    text-align: center;
    font-size: 14px;
}
#RememberMe{
    text-align: center;
    font-size: 14px;
}
#LoginButton{
    text-align: center;
    font-size: 14px;
}
