.signincard {
    width: 50%;
    
    margin: auto;
    margin-top: 3%; 
    }

    .profilepagecard {
        width: 50%;
        
        margin: auto;
        margin-top: 3%;
        margin-bottom: 8%;
    }
    
    .form-group {
        margin: left;
        margin-left: 3%;
        font-size: 24px;
    }
    
    .form-control
    {
        width: 97%;
        margin: left;
    
    }
    
    .mr-sm-2 {
        margin-left: 3%;
        font-size: 18px;
    }
    
    
    #PriceofJob
    {
        margin-top: 20%;
    }
    
    h1
    {
    margin-left: 38%;
    font-weight: bold;
    }
    

    
    .submitjob 
    {
        margin-left: 3%;
        margin-top: 3%;
        
    }
    
    .button, input[type=file] 
    {
        
        padding: 10px 24px;
        border-radius: 8px;
        background-color: #00703C;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        border-color: #00703C;  
        width: 75%;
        
    }
    .button:hover, input[type=file]:hover 
    {
      color: #fff;
        background-color: #C3D7A4;
        border-color: #C3D7A4;
    }
    .username{
        text-align: center;
    }
