.footer{
    text-align: center;
    background-color: rgba(0, 112, 60, 0.8);
    color: #F0BC00;
    height: 40px;
    position: absolute;
    padding-top:10px;
    padding-bottom:20px;
    left: 0;
    bottom: 0;
    width: 100%;
}