.signincard {
    width: 50%;
    
    margin: auto;
    margin-top: 3%; 
    }
.postHeader{
    text-align: center;
}
    .postjobcard {
        width: 50%;
        
        margin: auto;
        margin-top: 3%;
    }
    
    .form-group {
        margin: left;
        margin-left: 3%;
        font-size: 24px;
    }
    
    .form-control
    {
        width: 97%;
        margin: left;
    
    }
    
    .mr-sm-2 {
        margin-left: 3%;
        font-size: 16px;
    }
    
    
    
    .postjobcard 
    {
        border-style: groove;
    }
    
    .submitjob 
    {
        margin-left: 3%;
        margin-top: 3%;
        
    }
    
    .button 
    {
        padding: 10px 24px;
        border-radius: 8px;
        background-color: #00703C;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        border-color: #00703C;  
        width: 100%;
        
    }
    .button:hover 
    {
        color: #fff;
        background-color: #C3D7A4;
        border-color: #C3D7A4;
    }

    h1 
    {
        margin: auto;
    }