.signincard {
    width: 50%;
    
    margin: auto;
    margin-top: 3%; 
    }

    .postjobcard {
        width: 50%;
        
        margin: auto;
        margin-top: 3%;
        margin-bottom: 8%;
    }
    
    .form-group {
        margin: left;
        margin-left: 3%;
        font-size: 24px;
    }
    
    .form-control
    {
        width: 97%;
        margin: left;
    
    }
    
    .mr-sm-2 {
        margin-left: 3%;
        font-size: 18px;
    }
    
    
    #PriceofJob
    {
        margin-top: 20%;
    }
    
    h1
    {
    margin-left: 38%;
    font-weight: bold;
    }
    
    .postjobcard 
    {
        border-style: groove;
    }
    
    .submitjob 
    {
        margin-left: 3%;
        margin-top: 3%;
        
    }
    
    .button 
    {
        background-color: green;
        border: none;
        padding: 10px 24px;
        border-radius: 8px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        color: white; 
        font-weight: bold;
        
    }
    .button:hover 
    {
        background-color: #4CAF50; /* Green */
        color: white;
    }