.signincard {
    width: 50%;
    
    margin: auto;
    margin-top: 3%; 
    }
.postHeader{
    text-align: center;
    color: white;
}
    .postjobcard {
        width: 50%;
        
        margin: auto;
        margin-top: 3%;
    }
    
    .form-group {
        margin: left;
        margin-left: 3%;
        font-size: 24px;
    }
    
    .form-control
    {
        width: 97%;
        margin: left;
    
    }
    
    .mr-sm-2 {
        margin-left: 3%;
        font-size: 16px;
    }
    
    .postjobcard 
    {
        border-style: groove;
    }
    
    .submitjob 
    {
        margin-left: 3%;
        margin-top: 3%;
        
    }
    h1 
    {
        margin: auto;
    }
    #JobName, #Jobdescription, #FormCustomSelect, #PriceOfJob, .form-group{
        color: white;
    }

    .btnn-primary {
        background-color: rgba(240, 203, 0, 0.8);
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        border-color: #00703C;  
        width: 85%;
        justify-content: center;
    }
    .btnn-primary:hover,
    .btnn-primary:focus {
        color: #fff;
        background-color: #C3D7A4;
        border-color: #C3D7A4;
    }